<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration> 
    
   <session-factory>
        
      <!-- Paramètres de la connexion à la base de données -->
      <property name="connection.driver_class"> com.mysql.jdbc.Driver</property>
      <property name="connection.url">jdbc:mysql://localhost:3306/Universite?</property>
      <property name="connection.username">root</property>
      <property name="connection.password">root</property>
      <property name="connection.pool_size">1</property>
      <!-- Type de SGBD -->
      <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
      <!-- Pour supprimer et recréer le schéma de BD au lancement -->
      <property name="hbm2ddl.auto">create</property>
      <!-- Pour afficher les requêtes SQL en console (debugging) -->
      <property name="show_sql">false</property>
   
      <mapping class="ch.heigvd.university.models.Cours"/>    
      <mapping class="ch.heigvd.university.models.Etudiant"/>     
      <mapping class="ch.heigvd.university.models.Inscription"/>    
      <mapping class="ch.heigvd.university.models.CoursExterieur"/> 
      <mapping class="ch.heigvd.university.entity.Enseignant"/>
      <mapping class="ch.heigvd.university.models.Professeur"/> 
      <mapping class="ch.heigvd.university.models.ChargeDeCours"/> 
   </session-factory> 
</hibernate-configuration>